BOT_TOKEN=8213325479:AAGijnqnl6A6FfPxMFOYEFhH3jwqfFqcvu0
ADMIN_IDS=6944759086
DATABASE_URL=postgresql+asyncpg://user:pass@localhost/dbname
# SQLite uchun: DATABASE_URL=sqlite+aiosqlite:///bot_database.db
RATE_LIMIT=2